body{
    background-color: #785CF3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.search{
    background-color: white;
}

.active{
    padding: 10px;   
    font-size: x-large;
    border: 0;
    outline : none;
}


.btn{
    font-size: x-large;
    background-color: white;
    border: 3px solid white;
}
 
.hide{
display: none;
}